/*====================================================================
NAVBAR Hello UWU
======================================================================*/
@import url('https://googleapis.com');
html {
    scroll-behavior: smooth;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: rgb(25, 25, 25);
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    height: 100vh;
    width: 10vh;
    background-color: rgba(255, 255, 255, 0);
}
.line{
    position: absolute;
    margin-left: 4vh;
    margin-top: -1vh;
    height: 100vh;
    width: 2vh;
    background-color: rgb(32, 32, 32);
    z-index: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
svg{
    color: white;
    transition: .5s ease-in-out;
}
.icon{
    position: relative;
    height: 5vh;
    width: 5vh;
    margin-left: 19.2px;
    z-index: 1;
    background-color: rgba(50, 50, 50, 0.558);
    border-radius: 20%;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding-top: .5vh;
    cursor: pointer;
    
     transition: .3s ease-in-out;
}
.nav-elements{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4vh;
    margin-top: 25vh;
    position: relative; /* add this */
    z-index: 2;
}
.icon:hover {
    background-color: rgb(255, 255, 0);
    transform: scale(1.1);
}
.icon:hover svg{
    color: black;
}
.icon.active-btn{
    background-color: rgb(255, 255, 0);
}
.icon.active-btn svg{
    color: black;
}
.navbar a.active-btn button {
    background-color: rgb(255, 255, 0);
    color: black;
}

.navbar a.active-btn svg {
    color: black;
}


/*====================================================================
Landing Page
======================================================================*/
span{
    color: white;
}
p{
    color: white;
}
.landing-page{
    font-family: 'Linden Hill', serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    margin-left: 20vh;
    margin-top: 19vh;
    font-size: 10vh;
    z-index: 1;
}
.web{
    color: black;
}
.under-text{
    position: absolute;
    margin-left: 20vh;
    margin-top: 55vh;
    font-family: 'HarmonyOS Sans', sans-serif;
    opacity: 70%;
}
.text-line{
    background-color: rgba(255, 255, 255, 0.271);
    position: absolute;
    height: .3vh;
    width: 32vw;
    margin-left: 20vh;
    margin-top: 58vh;
}
.ld-btn{
    position: absolute;
    margin-left: 20vh;
    margin-top: 63vh;
    padding: 2vh 5vh;
    border-radius: 50px;
    color: white;
    background-color: transparent;
    border: 1.5px solid white;
    font-family: 'HarmonyOS Sans', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    cursor: pointer;

    transition: .5s ease-in-out;
}
.ld-btn:hover{
    background-color: yellow;
    color: black;
    border-color: yellow;
    transform: scale(1.1);
}
.txt-box1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 10vh;
    width: 10vw;
    margin-left: 10vw;
    margin-top: 43vh;
    background-color: white;
    border-radius: 5px;
    z-index: 0;
}
.txt-box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    height: 10vh;
    width: 21.8vw;
    margin-left: 20.5vw;
    margin-top: 43vh;
    background-color: yellow;
    border-radius: 5px;
}




/*====================================================================
Section 2
======================================================================*/
#skills {
    margin-left: 2vw;
}
.s2-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  
}
.ring1, .ring2, .gwapo{
    margin-left: 4vw;
}
.ring1 {
    position: absolute;
    height: 47vh;
    width: 47vh;
    border: 2px solid rgba(255, 255, 0, 0.603);
    border-radius: 50%;
    z-index: 2;

    -webkit-mask-image:linear-gradient(to bottom, #000 5%, transparent 100%);
    mask-image: linear-gradient(to bottom, #000 5%, transparent 100%);

    
}
.ring2 {
    position: absolute;
    height: 70vh;
    width: 70vh;
    background-color: rgb(31, 31, 31);
    border-radius: 50%;
    z-index: 1;
    border-color: aliceblue;
    box-shadow: 0px -1px 30px rgba(255, 255, 255, 0.3);

    -webkit-mask-image:linear-gradient(to bottom, #000 5%, transparent 100%);
    mask-image: linear-gradient(to bottom, #000 5%, transparent 100%);
}
.gwapo{
    position: absolute;
    margin-top: 15vh;
    z-index: 4;
    
}
.tools{
    position: absolute;
    font-family: 'Linden Hill', serif;
    font-size: 120px;
    margin-right: 55vw;
    margin-bottom: 35vh;
}
.skills{
    position: absolute;
    font-family: 'Linden Hill', serif;
    font-size: 120px;
    margin-left: 62vw;
    margin-bottom: 35vh;
}
.arw svg{
    height: auto;
    width: 3vh;
}
.arw{
    position: absolute;
    margin-top: 30vh;
    margin-top: 92vh;
    margin-left: 5vw;
    z-index: 7;
}
.explore-btn{
    position: absolute;
    margin-top: 30vh;
    margin-top: 78vh;
    margin-left: 5vw;
    z-index: 7;
}
.exp-btn{
    background-color: transparent;
    font-family: 'HarmonyOS Sans', sans-serif;
    color: white;
    border-radius: 50px;
    border-color: rgba(255, 255, 0, 0.471);
    padding: 2vh 4vw;
    cursor: pointer;

    transition: .5s ease-in-out;
    
}
.exp-btn:hover{
    background-color: yellow;
    color: black;
    transform: scale(1.1);
}
.tech{
    display: flex;
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 70vh;
    margin-left: 8vw;
    gap: 2vw;
    z-index: 6;
}
.skls{
    display: flex;
    position: absolute;
    height: auto;
    width: 100%;
    margin-top: 70vh;
    margin-left: 63.5vw;
    gap: 2vw;
    z-index: 6;
}

.figma, .vscode, .notion, .github, .ui, .webdev, .pb, .comms {
    font-family: 'HarmonyOS Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 14vh;
    width: 10vh;
    border-radius: 10px;
    border: .1vh solid rgba(255, 255, 255, 0.2);
    background-color: rgb(35, 35, 35);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.fm, .vs, .no, .gh, .u, .we, .ps, .co {
    font-size: 1.5vh;
    margin-top: 2vh;
    color: rgba(255, 255, 255, 0.564);
}
.tech svg{
     height: auto;
    width: 5vh;
}
.skls svg{
     height: auto;
    width: 5vh;
}
.top-label{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: 'HarmonyOS Sans', sans-serif;
    margin-left: 78vw;
    margin-top: 5vh;
}
.top-label span{
    font-size: 1.5vh;
    color: rgba(255, 255, 255, 0.732);
}
.top-label div{
    margin-top: -2vh;
    margin-left: 17.4vh;
    border-radius: 50vh;
    background-color: rgba(255, 255, 0, 0.603);
    height: .2vh;
    width: 10vh;
}
.txt-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: 'HarmonyOS Sans', sans-serif;
    margin-left: 16.5vw;
    margin-top: 45vh;
}
.txt-left span{
    color: rgba(255, 255, 255, 0.684);
}
.txt-left div{
    margin-top: -2vh;
    margin-left: 3vh;
    border-radius: 50vh;
    background-color: rgba(255, 255, 0, 0.603);
    height: .2vh;
    width: 10vh;
}
.txt-right{
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: 'HarmonyOS Sans', sans-serif;
    margin-left: 75vw;
    margin-top: 45vh;
}
.txt-right span{
    color: rgba(255, 255, 255, 0.684);
}
.line-1{
    margin-left: 1vh;
}
.txt-right div{
    margin-top: -2vh;
    margin-left: 3vh;
    border-radius: 50vh;
    background-color: rgba(255, 255, 0, 0.603);
    height: .2vh;
    width: 10vh;
}



/*====================================================================
GENERAL BULLET POINT
======================================================================*/
.bullet{
    display: flex;
    position: absolute;
    border-radius: 100px;
    height: 1vh;
    width: 1vh;
    margin-left: 17.5vw;
    margin-top: 7vh;
    background-color: rgba(255, 255, 255, 0.692);
}
/*====================================================================
Project 1 and PRoject 2 Page
======================================================================*/
.cover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 30vh;
    width: 70vw;
    margin-left: 30vw;
    margin-top: -28vh;
    background-color: rgb(25, 25, 25);
    z-index: 5;

    -webkit-mask-image:linear-gradient(to top, #000 60%, transparent 100%);
    mask-image: linear-gradient(to top, #000 60%, transparent 100%);
}
/*============================================================================*/
.Project{
    display: flex;
    position: absolute;
    font-family: 'HarmonyOS Sans', sans-serif;
    font-size: 2vh;
    font-weight: 500;
    margin-top: 6vh;
    margin-left: 10vw;
    background-color: yellow;
    color: black;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: .2vh;
}
.Featured{
    display: flex;
    position: absolute;
    font-family: 'HarmonyOS Sans', sans-serif;
    font-size: 2vh;
    margin-top: 6vh;
    margin-left: 19vw;
    color: rgba(255, 255, 255, 0.708);
}
.large{
    display: flex;
    position: absolute;
    overflow: hidden;
    background-color: yellow;
    border-radius: 1vh;
    height: 50vh;
    width: 49vw;
    margin-left: 43vw;
    margin-top: 12vh;
}
.box div{
    display: flex;
    background-color: aqua;
    overflow: hidden;
    border-radius: 1vh;
    height: 19vh;
    width: 30vh;
    margin-top: 75vh;
}
.box {
    display: flex;
    gap: 3vh;
    margin-left: 43vw;
}
.pj-title{
    display: flex;
    position: absolute;
    flex-direction: column;
    font-size: 10vh;
    margin-left: 10vw;
    margin-top: 15vh;
    
}
.secondary{
    background-color: yellow;
    color: black;
    padding-left: 1vh;
    padding-right: 1vh;
    border-radius: 1vh;
}
.main-txt{
    display: flex;
    position: absolute;
    color: rgba(255, 255, 255, 0.655);
    font-family: 'HarmonyOS Sans', sans-serif;
    margin-left: 10vw;
    margin-top: 48vh;
    font-size: 1.8vh;
}
.sec-txt{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 1vh;
    margin-left: 10vw;
    margin-top: 40vh;
    font-family: 'HarmonyOS Sans', sans-serif;
}
.sec-txt div{
    background-color: yellow;
    height: .2vh;
    width: 3vw;
}
.view-btn{
    display: flex;
    position: absolute;
    margin-left: 10vw;
    margin-top: -34vh;
    opacity: 90%;
    background-color: transparent;
    border-radius: 10vh;
    border: .2vh solid yellow;
    padding: 1vh;
    padding: 1vh 4vh;
    cursor: pointer;

    transition: .5s ease-in-out;
    
}
.view-btn svg {
    height: auto;
    width: 3vh;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .5s ease-in-out;
}
.view-btn span{
    margin-top: .5vh;

    transition: .5s ease-in-out;
}
.view-btn:hover span{
    color: black;
}
.view-btn:hover{
    transform: scale(1.1);
    background-color: yellow;
}
.view-btn:hover svg{
    transform: scale(1.1);
    fill: black;
    background-color: transparent;
}
.view-btn2{
    display: flex;
    position: absolute;
    margin-left: 10vw;
    margin-top: -34vh;
    opacity: 90%;
    background-color: transparent;
    border-radius: 10vh;
    border: .2vh solid yellow;
    padding: 1vh;
    padding: 1vh 4vh;
    cursor: pointer;

    transition: .5s ease-in-out;
    
}
.view-btn2 svg {
    height: auto;
    width: 3vh;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .5s ease-in-out;
}
.view-btn2 span{
    margin-top: .5vh;

    transition: .5s ease-in-out;
}
.view-btn2:hover span{
    color: black;
}
.view-btn2:hover{
    transform: scale(1.1);
    background-color: yellow;
}
.view-btn2:hover svg{
    transform: scale(1.1);
    fill: black;
    background-color: transparent;
}
.separator{
    display: flex;
    position: absolute;
    height: .1vh;
    width: 82vw;
    background-color: rgba(255, 255, 255, 0.273);
    margin-left: 10vw;
    margin-top: 68.5vh;

    -webkit-mask-image: linear-gradient(to right, transparent, #000 10%, #000 90%, transparent);
    mask-image: linear-gradient(to right, transparent, #000 10%, #000 90%, transparent);
}
.third-txt{
    display: flex;
    position: absolute;
    margin-left: 10vw;
    margin-top: 70vh;
    gap: 24.7vw;
    font-family: 'HarmonyOS Sans', sans-serif;
    font-size: 1.7vh;
}
.third-lines{
    display: flex;
    position: absolute;
    margin-left: 10vw;
    margin-top: 73vh;
    gap: 30.5vw;
}
.third-lines div{
    height: .2vh;
    width: 5vh;
    background-color: yellow;
}
.fourth-txt{
    display: flex;
    position: absolute;
    margin-left: 10vw;
    margin-top: 75vh;
    font-size: 1.7vh;
    font-family: 'HarmonyOS Sans', sans-serif;
    color:rgba(255, 255, 255, 0.619);
}
.fifth-txt{
    display: flex;
    position: absolute;
    margin-left: 10vw;
    margin-top: 87vh;
    gap: 17vw;
    font-size: 1.7vh;
    font-family: 'HarmonyOS Sans', sans-serif;
    
}
.fifth-txt2 {
    display: flex;
    position: absolute;
    margin-left: 10vw;
    margin-top: 90vh;
    gap: 10vw;
    font-size: 1.7vh;
    font-family: 'HarmonyOS Sans', sans-serif;
}
.fifth-txt2 span {
    color: rgba(255, 255, 255, 0.467);
}
/*====================================================================
Contact Page
======================================================================*/


